<% provide(:title, "About") %>
<div class="container">
	<h1>About Fringr</h1>
	<p><font size=4>
		Hello there and welcome to Fringr! 
		</font></p>

	<p><font size=4>
		Fringr is an automated scheduling application intended to schedule the Fringe Festival at Westmont College. This website is still under construction and I appreciate your patience as I upgrade old features and introduce new ones.
	</font></p>

	<p><font size=4>
		The GitHub repository for this project is located <%= link_to "here", 'https://github.com/dmontag23/fringr/' %>. If you find any bugs, please feel free to <%= link_to "open an issue", "https://github.com/dmontag23/fringr/issues" %> or <%= link_to "contact me", contact_me_path %>.
	</font></p>

	<p><font size=4>
		Fringe on!
	</font></p>

	<p><font size=4>
		-Dillon Montag
	</font></p>

</div>
