<% provide(:title, "Contact") %>
<div class="container center">
	<h1>Contact me!</h1>
	<p><font size=4>
		If you wish to contact me about this project, please send an email to dmontag23@gmail.com with the subject line: Fringr. 
	</font></p>
</div>
