<div class="jumbotron">
	<div class="container center">
		<h1>Welcome to Fringr!</h1>
		<%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
		<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>