<% provide(:title, 'Edit Schedule') %>
<% provide(:url_path, schedule_path(@schedule)) %>

<h1>Edit Schedule</h1>
<div class="row center">
  <div class="col-xs-10 col-xs-offset-1">
    <%= render 'form' %>
	</div>
</div>