<% provide(:title, 'New Schedule') %>
<% provide(:url_path, schedules_path) %>

<h1>New Schedule</h1>
<div class="row center">
  <div class="col-xs-10 col-xs-offset-1">
    <%= render 'form' %>
	</div>
</div>
