<% provide(:title, "Schedule for #{@schedule.name}") %>

<div class="container">
	<h1>Schedule for <%= "#{@schedule.name}" %></h1>
	<div class="calendar", schedule_id=<%= "#{@schedule.id}" %>></div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="center"><h3>Pieces Not Scheduled:</h3></div>
			<ul class="list-unstyled">
			<% @schedule.pieces.each do |piece| %>
				<% piece_not_scheduled_count = piece.scheduled_times.where(day_id: nil).count %>
				<% if  piece_not_scheduled_count > 0 %>
					<li><%= "Could not schedule #{pluralize(piece_not_scheduled_count, "performance")} of #{piece.title}"	%></li>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div> -->

	<div class="center"><%= link_to "Back", schedule_path(@schedule), class: "btn btn-lg btn-primary" %></div>
	
</div>