<% provide(:title, "Manually Schedule #{@piece.title}") %>
<% provide(:url_path, manually_schedule_schedule_piece_path(@schedule, @piece)) %>

<div class="container">

	<h1>Manually Schedule <%= "#{@piece.title}" %></h1>
  <%= render 'update_piece' %>
	
</div>