@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

body {
  padding-top: 50px;
}


/* footer */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid $gray-lighter;
  padding-top: 10px;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}